Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers
CheckOptions:
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
